:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-color: #FFFFFF;
  --accent-color: #2196F3;
  --bck-portfolio: #F5F4FA;
  --bckground-color: #2F303A;
  --social-icons: #AFB1B8 ;
}

.html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  color: var(--title-text-color);
}

.h2, h3, h4 {
  font-weight: 700;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  text-decoration: none;
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__web {
  color: var(--accent-color);
}

.btn {
  padding: 0;
  border: 0;
  text-align: center;
  font-family: Roboto;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 50px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials--dec {
  padding-bottom: 41px;
  margin-top: 16px;
}
.socials__icons {
  width: 20px;
  height: 20px;
  fill: var(--social-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__link:hover .socials__icons, .socials__link:focus .socials__icons {
  fill: var(--white-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close {
  position: absolute;
  right: 12px;
  top: 8px;
  display: flex;
  border: none;
  padding: 6px 6px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.modal__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.modal__icon {
  position: relative;
  display: inline-block;
  width: 100%;
}
.modal__icon--dec {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon--dec:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.modal__icon--dec:focus + .modal__icon--img {
  fill: var(--accent-color);
}
.modal__icon--img {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
}
.modal-coment__area {
  height: 120px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-coment__area:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.modal-agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-agree__input:checked + .modal-chekbox .modal-chekbox__check {
  background-color: var(--accent-color);
}
.modal-agree__input:checked + .modal-chekbox {
  outline: 2px solid var(--accent-color);
}

.modal-chekbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  outline: 2px solid var(--bckground-color);
  border-radius: 2px;
  transition: outline 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-chekbox__check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-chekbox__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-left: 8px;
}
.modal-chekbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.modal__btn {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
}

.conteiner-header {
  display: flex;
  align-items: center;
}
.conteiner-header--border {
  border-bottom: 1px solid #ECECEC;
}

.logo__studio {
  color: #000000;
  margin-right: 93px;
  width: 145px;
}

.nav {
  display: flex;
  flex-grow: 1;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.nav__mid, .nav__mid, .nav__mid:not(:last-child) {
  margin-right: 50px;
}
.nav__group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__studio, .nav__portfolio, .nav__kontact {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__studio:hover, .nav__studio:focus {
  color: var(--accent-color);
}
.nav__portfolio:hover, .nav__portfolio:focus {
  color: var(--accent-color);
}
.nav__kontact:hover, .nav__kontact:focus {
  color: var(--accent-color);
}
.nav__active {
  position: relative;
  display: block;
  color: var(--accent-color);
  padding-bottom: 32px;
  padding-top: 32px;
}
.nav__active::after {
  position: absolute;
  bottom: 0%;
  left: 0%;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts__mail {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail--dec {
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-color);
}
.contacts__mail:hover .contacts__mail--icon {
  fill: var(--accent-color);
}
.contacts__mail--icon {
  fill: var(--primary-text-color);
  border: 24px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail--icon:hover, .contacts__mail--icon:focus {
  fill: var(--accent-color);
}

.contacts__number {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__number--dec {
  color: var(--primary-text-color);
}
.contacts__number:hover, .contacts__number:focus {
  color: #2196F3;
}
.contacts__number:hover .contacts__number--icon {
  fill: var(--accent-color);
}
.contacts__number--icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__number--icon:hover, .contacts__number--icon:focus {
  fill: var(--accent-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero.png);
  background-size: cover;
}
.hero__title {
  text-align: center;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  margin-bottom: 30px;
}
.hero__btn {
  width: 216px;
  height: 50px;
}

.peculiarity {
  display: flex;
}
.peculiarity-group {
  padding-top: 94px;
  padding-bottom: 47px;
  gap: 30px;
}
.peculiarity__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.peculiarity__img--dec {
  background-color: var(--bck-portfolio);
  width: 270px;
  height: 120px;
}
.peculiarity__title {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.peculiarity__text {
  width: 255px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.progect__title {
  display: block;
  text-align: center;
}
.progect__title--dec {
  font-size: 36px;
  line-height: 1.2;
  padding-top: 47px;
  margin-bottom: 50px;
}

.progect__img {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.progect__scrin {
  position: relative;
}

.progect__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 0%;
  letter-spacing: 0.03em;
  padding: 27px 10px;
}
.progect__text--dec {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
  padding-bottom: 94px;
}
.team__title {
  display: block;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
  padding-top: 94px;
}
.team__group {
  display: flex;
  gap: 30px;
}
.team__box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__info {
  text-align: center;
  padding-top: 30px;
}
.team__info--dec {
  background-color: var(--white-color);
}
.team__name {
  margin-bottom: 10px;
}
.team__name--dec {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.team__job {
  text-align: center;
}
.team__job--dec {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
}

.client {
  padding-top: 94px;
}
.client__title {
  display: block;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 94px;
}
.client__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  width: 170px;
  height: 92px;
  fill: var(--social-icons);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__img:hover, .client__img:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.footer-conteiner {
  background-color: var(--bckground-color);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer-group {
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo__studio--footer {
  color: var(--white-color);
  margin-bottom: 20px;
}

.address {
  width: 231px;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  display: block;
  margin-right: 70px;
}
.address__list:not(:last-child) {
  margin-bottom: 9px;
}
.address__city {
  color: var(--white-color);
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
}
.address .address__phone {
  color: rgba(255, 255, 255, 0.6);
}

/* =======Socials footer */
.footer__title {
  padding-top: 12px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  margin-bottom: 20px;
}

.socials-footer {
  display: flex;
  flex-direction: column;
}
.socials-footer__link--dec {
  background: rgba(255, 255, 255, 0.1);
}
.socials-footer__icons--dec {
  fill: var(--white-color);
}

/* ======== */
.subscribe {
  margin-left: 93px;
}
.subscribe__group {
  display: flex;
}
.subscribe__email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 0;
  margin-right: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bckground-color);
  outline: none;
}
.subscribe__email:focus {
  border: 1px solid var(--accent-color);
}
.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
}

.port-btn {
  padding-top: 94px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 34px;
}
.port-btn--style {
  min-height: 38px;
  border: 0;
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  cursor: pointer;
  padding: 0px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-btn--style:hover, .port-btn--style:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-img {
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.port-img__list {
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-img__list:hover .port-img__text {
  opacity: 1;
  transform: translateY(0);
}
.port-img__list:hover, .port-img__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-img__group {
  position: relative;
  overflow: hidden;
}
.port-img__text {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-top: 64px;
  color: var(--white-color);
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-img__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.port-img__title {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.port-img__work {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */