.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 528px;
    min-height: 581px;
    padding: 40px;


    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


    &__close {
    position: absolute;
    right: 12px;
    top: 8px;

    display: flex;
    border: none;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close:hover {
    fill: var(--accent-color);
    }

}