:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --bck-portfolio: #F5F4FA;
    --bckground-color: #2F303A;
    --social-icons: #AFB1B8
}