.client {
    padding-top: 94px;


    &__title {
    display: block;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 50px;
    }

    &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;   
    padding-bottom: 94px;  
    }

    &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    width: 170px;
    height: 92px;
    fill: var(--social-icons);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

       &__img:hover,
       &__img:focus {
       fill: var(--accent-color);
       border: 1px solid var(--accent-color);
       border-radius: 4px;
       }

}