.port-btn{
    padding-top: 94px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 34px;  



    &--style {
    min-height: 38px;
    border: 0;
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    cursor: pointer;
    padding: 0px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

       &--style:hover,
       &--style:focus {
       background-color: var(--accent-color);
       color: var(--white-color);
       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
       }

}



.port-img{
    padding-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;


&__list {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

       &__list:hover &__text{
       opacity: 1;
       transform: translateY(0);
       }
       &__list:hover,
       &__list:focus {
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
       }

    &__group {
    position: relative;
    overflow: hidden;
    }

    &__text {
    position: absolute;
    left: 0%;
    bottom: 0%;

    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 64px;
    padding-top: 64px;
    color: var(--white-color);
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__info {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    }
    &__title {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    }
    &__work {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    }

}