.progect__title {
    display: block;
    text-align: center;


    &--dec {
    font-size: 36px;
    line-height: 1.2;
    padding-top: 47px;
    margin-bottom: 50px;
    }
}

.progect__img {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}
.progect__scrin {
    position: relative;
}

.progect__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
    letter-spacing: 0.03em;

    padding: 27px 10px;


    &--dec {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
    }
}